.classify {
    display: flex;
    height: 20px;
    margin: 27px 0 34px 194px;
    /* background-color: antiquewhite; */
}

.home_page {
    height: 20px;
    width: 40px;
    font-family: 'PingFang SC';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    /* identical to box height, or 20px */
    /* 黑字体333333YC */
    color: #333333;
}

.arrow {
    width: 15.96px;
    height: 9.04px;
    margin-left: 13.48px;
}

.all_page {
    height: 20px;
    width: 80px;
    margin-left: 12.48px;
    font-family: 'PingFang SC';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    /* identical to box height, or 20px */
    /* 黑字体333333YC */
    color: #333333;
}

.class {
    width: 40px;
    height: 20px;
    margin-left: 12.48px;
    font-family: 'PingFang SC';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    /* identical to box height, or 20px */
    /* 黑字体333333YC */
    color: #333333;
}


/* classList */

.classList {
    height: 50px;
    margin-left: 194px;
    display: flex;
}

.pro {
    margin-left: 16px;
}

.pro ul {
    display: flex;
}

.classList ul li {
    line-height: 50px;
    text-align: center;
    /* 输入框色YC */
    width: 94px;
    border-top: 1px;
    border-bottom: 1px;
    border-right: 1px;
    border-style: solid;
    border-color: #DCDFE6;
    /* border: 1px solid #DCDFE6; */
    box-sizing: border-box;
    /* border-radius: 4px 4px 0px 0px; */
}

.pro_first {
    border-left: 1px;
    border-radius: 4px 0px 0px 0px;
}

#pro_last {
    border-left: 0px;
    border-radius: 0px 4px 0px 0px;
}

.class_1 {
    margin-top: 16px;
    width: 40px;
    height: 20px;
    font-family: 'PingFang SC';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    /* identical to box height, or 20px */
    /* 黑字体333333YC */
    color: #333333;
}

.pro_2 {
    border-left: 0px;
}